* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.page_spacing {
  padding: 0 8rem;
}

.label-before, .field input:focus + label::before, .field select:focus + label::before, .field input:valid + label::before, .field select:valid + label::before {
  line-height: 20px;
  font-size: 14px;
  top: -10px;
  background: #fff;
  padding: 0 6px;
  left: 9px;
}

.form_box {
  width: 100%;
}

.form_logo {
  text-align: center;
}

.form_logo img {
  width: 100px;
}

.field {
  position: relative;
  margin-bottom: 15px;
}
.field label::before {
  content: attr(title);
  position: absolute;
  top: 5px;
  left: 15px;
  line-height: 40px;
  font-size: 17px;
  color: #777;
  transition: 300ms all;
}
.field input, .field select {
  width: 100%;
  height: 50px;
  line-height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 17px;
  color: #222;
  border: 2px solid #d7d7d7;
  border-radius: 6px;
}
.field input:focus, .field select:focus {
  outline: 0;
  border-color: #0079fa;
}
.field input:valid + label::before, .field select:valid + label::before {
  content: attr(data-title);
}
.field input:focus + label::before, .field select:focus + label::before {
  color: #000;
}

.main_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.form_right {
  justify-content: flex-end;
}

.form_left {
  justify-content: flex-start;
}

.reg_bg {
  background-image: url("../images/img-3.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form_box_bg {
  width: 550px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 3px #000;
}

.box_spacing {
  padding: 30px 50px 40px;
}

.form_title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.form_btn {
  color: #fff;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  font-size: 17px;
  border: 0;
  margin-top: 20px;
  background-color: #0079fa;
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0), #03fafc);
  transition: 1s;
}
.form_btn:hover {
  background-color: #1b3996;
  cursor: pointer;
}

.center_text {
  text-align: center;
}

.bottom_space {
  padding-bottom: 20px;
}

.form_text {
  text-align: center;
  margin: 25px 0 0;
}

.link_text {
  text-decoration: none;
  color: blue;
}

.login_bg {
  background-image: url("../images/img-4.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-dark, .font-dark::before {
  color: #000 !important;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.remember_box {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.checkbox_size {
  height: 17px;
  width: 17px;
}

@media (max-width: 768px) {
  .main_form {
    flex-direction: column;
    justify-content: center;
  }
  .form_box_bg {
    width: 100%;
  }
  .page_spacing {
    padding: 0 2rem;
  }
  .field label::before {
    font-size: 15px;
  }
  .field input {
    font-size: 15px;
  }
  .reg_bg, .login_bg {
    background-color: #cccccc;
  }
}/*# sourceMappingURL=style.css.map */