* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0 !important;
	padding: 0 !important;
}

body {
    font-family: sans-serif;
}

.page_spacing {
	padding: 0 8rem;
}

.label-before {
	line-height: 20px;
	font-size: 14px;
	top: -10px;
	background: #fff;
	padding: 0 6px;
	left: 9px;
}

.form_box {
	width: 100%;
}

.form_logo { text-align: center; }

.form_logo img { width: 100px; }

.field {
	position: relative;
	margin-bottom: 15px;
	label::before {
		content: attr(title);
		position: absolute;
		top: 5px;
		left: 15px;
		line-height: 40px;
		font-size: 17px;
		color: #777;
		transition: 300ms all;
	}
	input, select {
    width: 100%;
	height: 50px;
    line-height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 17px;
    color: #222;
    border: 2px solid #d7d7d7;
	border-radius: 6px;
	background-color: #fff;
		&:focus {
			outline: 0;
			border-color: #0079fa;
			// border-color: #1b3996;
		}
		&:valid + label::before {
			@extend .label-before;
			content: attr(data-title);
		}
		&:focus + label::before {
			@extend .label-before;
			color: #000;
		}
	}
}

.main_form {
	display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.form_right { justify-content: flex-end; }

.form_left { justify-content: flex-start; }

.reg_bg_img {
	background-image: url("../images/img-3.jpg"); 
	height: 100vh; 
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover; 
}

.form_box_bg {
	width: 550px;
	border-radius: 10px;
	background: #fff;
    box-shadow: 0px 0px 10px 3px #000;
}

.box_spacing {
	padding: 30px 50px;
}

.form_title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.form_btn {
	color: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
	font-size: 17px;
    border: 0;
	margin-top: 20px;
	background-color: #0079fa;
	background-image: linear-gradient(to top right, #fff0, #03fafc);
	transition: 1s;

	&:hover {
		// background-color: #da00ff; 
		background-color: #1b3996; 
		cursor: pointer;
	}
}

.center_text { text-align: center; }
.bottom_space { padding-bottom: 20px; }

.form_text {
	text-align: center;
    margin: 25px 0 0;
}

.link_text { text-decoration: none; color: blue; }

.login_bg_img {
	background-image: url("../images/img-4.jpg"); 
	height: 100vh; 
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover; 
}

.font-dark, .font-dark::before { color: #000 !important; }

.row-2 {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.remember_box {
	display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.checkbox_size {
	height: 17px;
    width: 17px;
}

.header_logo img {
	width: 70px;
}

body {
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.main_nav_header {
	display: flex;
	justify-content: space-between;
    position: relative;
}

/* profile menu */

.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

.profile h3 {
    text-align: end;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 600;
}

.profile p {
    line-height: 1;
    font-size: 14px;
    opacity: .6;
}

.profile .img-box {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* menu (the right one) */

.menu {
    position: absolute;
    top: calc(100% + 24px);
    right: 0;
    width: 200px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
}

.menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    z-index: -1;
}

.menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* menu links */

.menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #fff;
	margin: 0;
	padding: 0;
}

.menu ul li {
    list-style: none;
}

.menu ul li:hover {
    background: #eee;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
}

.menu ul li a i {
    font-size: 1.2em;
}

.top_space {
	margin-top: 6pc;
}

.row_flex {
	display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.col_flex {
	display: flex;
    flex-direction: column;
}

.web_input_type {
	width: 200px;
    height: 40px;
    padding: 0 5px;
    border-radius: 6px;
    border: 2px solid #000;
}

.section_title {
    text-align: center;
    margin-bottom: 20px;
}

.desk_seat {
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    transition: 0.5s;
}

.seat_bg {
    background-color: #006eb4ab;
    position: relative;

    .tooltip_text {
        display: none;
        background-color: black;
        position: absolute;
        top: -28px;
        padding: 0 10px;
        border-radius: 5px;
    }
    
    &:hover {
        background-color: #0058a4;
    
        .tooltip_text {
            display: block;
        }
    }

    &.booked { 
        background-color: #b3b3b3; 
        // pointer-events: none;
        cursor: default; 
    }

    &.selected {
        background-color: #0058a4; /* Darker background color for selection */
        /* Add any additional styles for the selected state */
    }
}

.desk_row {
	display: flex;
    gap: 5px;
    justify-content: space-between;
}

.seat_table {
	width: 100%;
    background-color: #c7e5ff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.col_seat_table {
	width: 100%;
    background-color: #c7e5ff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 230px;
}

.seat_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desk_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: 232px;
}

.divider {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.main_divider {
	margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid #aeaeae;
	opacity: 1;
}

.modal.modal-left .modal-dialog, .modal.modal-right .modal-dialog {
	max-width: 380px;
	min-height: calc(100vh - 0px);
  }
  .modal.modal-left.show .modal-dialog, .modal.modal-right.show .modal-dialog {
	transform: translate(0, 0);
    transition: 1s;
  }
  .modal.modal-left .modal-content, .modal.modal-right .modal-content {
	height: calc(100vh - 0px);
	overflow-y: auto;
  }
  .modal.modal-left .modal-dialog {
	transform: translate(-100%, 0);
	margin: 0px auto 0 0; 
  }
  .modal.modal-right .modal-dialog {
	transform: translate(100%, 0);
	margin: 0px 0 0 auto; 
  }
  .modal-full {
	  min-width: 100%;
	  margin: 0;
  }
  
  .modal-full .modal-content {
	  min-height: 100vh;
  }

  .multi_drop_box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.multi_drop_btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #767676;
    border-radius: 4px;
    width: 100%;
    text-align: left;
}

.multi_drop_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add scrollbar if needed */
}

.multi_drop_content label {
    display: block;
    padding: 8px 12px;
    cursor: pointer;
}

.multi_drop_content label:hover {
    background-color: #f1f1f1;
}

.multi_drop_show {
    display: block;
}

.modal_btn {
    height: 43px;
    background-color: #0058a4;
    border: 2px solid #0058a4;
    color: #fff;
    transition: .7s;

    &:hover {
        background-color: #fff;
        color: #0058a4;
        border: 2px solid #0058a4;
    }
}

.modal_dropdown {
    height: 43px;
    width: 100%;
    border-radius: 4px;
    padding-left: 5px;
}
.arrow_size { font-size: 13px; float: right; }

@media (max-width:767.5px) {
	.main_form {
		flex-direction: column;
		justify-content: center;
	}
	.form_box_bg { width: 100%; }
	.box_spacing { padding: 30px 20px; }
	.page_spacing { padding: 0 1rem; }
	.field { 
		label::before { font-size: 15px; }
		input { font-size: 15px; }
	}
	.seat_box { margin: 30px 0; }
	.divider {
		border-right: 0px solid #000;
		border-left: 0px solid #000;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding-top: 15px;
        padding-bottom: 15px;
	}
    .section_title { margin-bottom: -10px; }
}
@media (max-width:991.5px) and (min-width:550px) {
    .web_input_type {
        width: auto;
    }
}
@media (max-width:550px) {
	.row_flex { flex-direction: column; align-items: normal; }
	.web_input_type { width: 100%; }
}